.head{
    color: azure;

}
#green{
    color: rgb(52, 170, 29);
    
}
body{
    background-color: rgb(41, 41, 114);
}
.redd{
    color: rgb(192, 21, 15);
}
.para{

}
p{
    color: rgb(211, 206, 206);

}